@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 0px 0 0px;
  padding: 25px 0 0px;
  text-align: center;
  background: #E6E6FA;
}

.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #6667AB;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #6667AB;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}

   font-weight: 500;
   margin-bottom: 15px;
   transition-delay: .05s;
}
.item-body p {
   transition-delay: .1s;
}
.item-footer {
   padding-top: 15px;
}
.link {
   text-decoration: none;
   display: inline-block;
   overflow: hidden;
   position: relative;
   padding-right: 30px;
   font-size: 12px;
   text-transform: uppercase;
   font-weight: 600;
   color: #F5E2CD;
}
.link:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   bottom: 0;
   height: .125rem;
   margin: auto;
   background: #F09EA3;
   transform: scaleX(.2);
   transform-origin: left center;
   z-index: 0;
   transition: .6s cubic-bezier(.6, .01, 0, 1);
}
.link span {
   display: inline-block;
   position: relative;
   transform: translateX(-200%);
   transition: .6s cubic-bezier(.6, .01, 0, 1);
}
.post-item:hover .link span {
   transform: translateX(0%);
}
.post-item:hover .link:before {
   transform-origin: right center;
}
@media (min-width: 768px) {
   .post-item {
      flex-basis: 50%;
      flex-shrink: 0;
   }
}
@media (min-width: 960px) {
   .post-item {
      flex-basis: 33.333333333%;
   }
}



* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #606060;
    font-size: 14px;
}
.container {
    max-width: 960px;
    margin: 50px auto;
    padding: 0 15px;
    background: white;
}
.post {
    padding: 30px 0 15px;
    position: relative;
}
.post-image {
    margin-bottom: 20px;
}
.post-image img {
    width: 100%;
}
.post h1 {
    color: #222;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 1.5em;
}
p {
    line-height: 1.5;
    margin-bottom: 1em;
    text-align: justify;
}
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
    .container {
        padding: 0 45px;
    }
    .post-header {
        margin-top: 20px;
    }
    .post-image {
        position: relative;
        width: 40%;
    }
    .post-image:before {
        content: "";
        position: absolute;
        border: 6px solid #021422;
        top: -20px;
        bottom: 40%;
        left: 35%;
        right: -20px;
    }
    .post h1 {
        width: 70%;
        padding: 10px 20px;
        margin: 0;
        color: white;
        top: 50px;
        right: 0;
        background: #021422;
        position: absolute;
        z-index: 2;
    }
}