

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 0px 0 0px;
  padding: 25px 0 0px;
  text-align: center;
  background: #E6E6FA;
}

.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #6667AB;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #6667AB;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}
 
.adaptivSlayder {

  position: relative;

  max-width: 710px;

  margin: 65px auto;

  

}

 

.adaptivSlayder input[name="kadoves"] {

  display: none;

}

 

.kadoves {

  position: absolute;

  left: 0;

  bottom: -35px;

  text-align: center;

  width: 100%;

}

 

.kadoves label {

  display: inline-block;

  width: 7px;

  height: 7px;

  cursor: pointer;

  margin: 0 2px;

  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .7);

  border-radius: 40%;

  border: 4px solid #FFFFE0;

  background-color: #6667AB;

}

 

#slaid1:checked~.kadoves label[for="slaid1"] {

  background-color: white;

}

 

#slaid2:checked~.kadoves label[for="slaid2"] {

  background-color: white;

}

 

#slaid3:checked~.kadoves label[for="slaid3"] {

  background-color: white;

}

#slaid4:checked~.kadoves label[for="slaid4"] {

  background-color: white;

}
 #slaid5:checked~.kadoves label[for="slaid5"] {

  background-color: white;

}

.adaptivSlayderlasekun {

  overflow: hidden;

   

}

 

.abusteku-deagulus {

  display: flex;

  width: 100%;

  transition: all 0.6s;

}

 

.abusteku-deagulus img {

  width: 100%;

  flex-shrink:0;

}

 

#slaid1:checked~adaptivSlayderlasekun abusteku-deagulus {

  transform: translate(0);

}

 

#slaid2:checked~.adaptivSlayderlasekun .abusteku-deagulus {

  transform: translateX(-100%);

}

 

#slaid3:checked~.adaptivSlayderlasekun .abusteku-deagulus {

  transform: translateX(-200%);

}
#slaid4:checked~.adaptivSlayderlasekun .abusteku-deagulus {

  transform: translateX(-300%);

}
#slaid5:checked~.adaptivSlayderlasekun .abusteku-deagulus {

  transform: translateX(-400%);

}

.footer
{
width:100%;
text-align:center;
margin-top:20px;
}
.logo
{
margin:0 auto;
width:200px;
margin-top:30px;
margin-bottom:30px;

}

.footer a
{
text-decoration: none;
border-bottom:1px dotted #444;
}
 
.footer a:hover
{
text-decoration: none;
border:0px;
}

